
/*------------- Body --------------- */

body{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}




/* ------------- Cargando la página --------------- */
#app-container{
    display: flex;
    flex-direction: row;
    position: relative;
}

#app-container.cargando::before{
    content: "Espere por favor...";
    z-index: 9999;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
}

#app-container.cargando::after{
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
}




/* menu de la izquierda */
#menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1000; /* Asegúrate de que esté por encima del contenido del menú */
}


/* Estilo del menú y acordeón */
.menu {
    width: 290px;
    height: 100vh;
    position: absolute;
    padding: 10px;
    background-color: white;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.menu.open {
    transform: translateX(0);
}

.contenidor {
    flex: 1;
    background: white;
    background: white;
    padding: 20px;
    margin-left: 80px; /* Cambiar el margen izquierdo a 0 */
    transition: margin-left 0.3s ease; /* Agregar transición para suavizar el cambio */
}

/* Cuando el menú está abierto, ajusta el margen izquierdo del contenido */
.menu.open ~ #app-container .contenidor {
    margin-left: 320px; /* Vuelve al margen original cuando el menú se abre */
}

/* Estilo del acordeón */
#acordeon {
    width: 60vw;
    height: 60vw;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.seccion {
    width: 100%; /* Ancho de cada sección al 100% del contenedor */
    max-width: 400px; /* Ancho máximo de cada sección */
    margin: 10px; /* Margen entre cada sección */
}



/* ------------------- Control: Opciones del menu ----------------*/
.control{
    padding:4px;
    border:1px solid #706329;
    border-radius: 12px;
    display:flex;
    flex-direction: row;
    padding-left: 8px;
    padding-right: 8px;
    gap:4px;
    align-items: center;
    margin-bottom: 8px;
    overflow: hidden;
    user-select: none;
}

.control .opcion{
    padding:4px;
    padding-left: 8px;
    padding-right: 8px;
    user-select: none;
}

.control .opcion.seleccionada{
    background-color: #E0C224;
    border-radius: 6px;
    font-weight: bold; 
}

.control .opcion:hover{
    cursor: pointer;
}

/* Titulo de la lista de canciones */
.fila{
    display: flex;
    align-items: center;
    gap:4px;
}


/* ------------- canciones ---------------*/
#composiciones{
    border-radius: 12px;
    border:1px solid #706329;
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:end;
    
}

/* contenido */
#composiciones .contenido{
    width: 100%;
    height: 65%;
}

/* lista de canciones */
.composicion{
    padding: 4px 16px;
    border-bottom: 1px solid rgb(149, 168, 182);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.composicion .progreso{
    height: 4px;
    width: 100%;
    background: rgb(255,244,12);
    position: absolute;
    bottom: 0;
    left:0;
    background: linear-gradient(90deg, rgba(255,244,12,1) 50%, rgba(0,21,199,1) 75%, rgba(242,0,0,1) 100%);
}

/* porcentaje de examen */
.composicion .progreso .porcentaje{
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0px;
    bottom: 0px;
}

/* animacion porcentaje */
.animar-porcentaje{
    animation-name: animar-porcentaje;
}

@keyframes animar-porcentaje{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}   

/* nombre de la cancion */
.composicion .nombre{
    flex: 1;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#composiciones .contenido .composicion:last-child{
    border: none;
}

.composicion .acciones span:hover{
    cursor: pointer;
}

.composicion .acciones{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Estilos para los íconos */
.reproducir {
    color: green; 
    font-size: 22px;
}

.practicar {
    color: rgb(79, 102, 145); 
    font-size: 22px;
}

.borrar {
    color: red;
    font-size: 22px;
}

/* Grabación */
#grabar{
    border-radius: 12px;
    border:1px solid #706329;
    border-bottom: none;
    padding: 9px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 2px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap:4px;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    /* display: none; */
}

#grabar:hover {
    cursor: pointer;
    background-color: #E0C224;
}

#grabar img{
    max-width: 70%;
}

#grabar.grabar .text::before{
   content: "Empezar a grabar";
}

#grabar.grabando .text::before{
    content:"Detener grabación...";
}




/* ------------- footer -------------- */

/* Logo de HM */
.logo {
    position: absolute;
    bottom: auto; /* Eliminar bottom para que el posicionamiento sea relativo al contenedor */
    width: 30%; /* Ajustar el tamaño del logo */
    left: 50%;
    margin: 40px auto;
    margin-left: -15%; /* Ajustar el margen izquierdo */
    text-align: center;
}

.link-pie{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.pie{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 12px;
    gap:5px;
    cursor: pointer;
    
}

/* Bandera de colombia - footer */
.bandera{
    content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABcCAMAAADUMSJqAAAAG1BMVEX/zQDIEC4AMIf/zwDeuBsySHYALYgDLX+6Ezd7vh7cAAAAQElEQVRoge3MgQ2AIAADsIkK/H+xVywxpD2gCQAAAHC0uyhPUd6izKKMIrlcLpfLT85XUXZRriK5XC6Xy+U/zD/IdSIl2Z11wwAAAABJRU5ErkJggg==);
    width:20px;
}

